.container {
    position: relative;
}

.amount {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: aqua;
    right: -15px;
    bottom: -15px;
    border-radius: 50%;
    color: aliceblue;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
